/*
========================================================================================
    nf-test config file
========================================================================================
    Config options for nf-test
----------------------------------------------------------------------------------------
*/

// Global test configuration
config {
    // Test directory
    testsDir = "tests"
    
    // Working directory for tests  
    workDir = ".nf-test"
    
    // Configuration profiles for testing
    configFile = "tests/config/nextflow.config"
    
    // Test profiles
    profile = "test"
}

// Test dependencies
dependencies {
    // Location of test data
    testDataDir = "tests/data"
}