/*
========================================================================================
    nf-test config file
========================================================================================
    Config options for nf-test
----------------------------------------------------------------------------------------
*/

// Global test configuration
config {
    // Test directory
    testsDir "."
    
    // Working directory for tests  
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"
    
    // Configuration profiles for testing
    configFile "tests/nextflow.config"
    
    // Test profiles
    profile = "test"
}

// Test dependencies
dependencies {
    // Location of test data
    testDataDir = "tests/data"
}
