
params {
    // Test data paths
    input                 = "/run/media/saadat/A/WT_AS/samplesheet.csv"
    outdir                = "/run/media/saadat/A/WT_AS/nf-test"

    // Reference files
    fasta                 = "/run/media/saadat/A/VEP/References/Gencode/GRCh38.primary_assembly.genome.fa"
    gtf                   = "/run/media/saadat/A/VEP/References/Gencode/gencode.v47.primary_assembly.annotation.gtf"
    gene_features         = "/run/media/saadat/A/VEP/References/Gencode/gencode.v47.gene.bed"

    star_index            = "/run/media/saadat/A/VEP/References/Gencode/STAR_index"

    // Beagle files
    beagle_ref            = "/run/media/saadat/A/WT_AS/Beagle/GRCh38_MAP/VCF/ALL.chr11.GRCh38.phased.chrprefix.vcf.gz"
    beagle_map            = "/run/media/saadat/A/WT_AS/Beagle/GRCh38_MAP/plink.GRCh38.map/plink.chr11.GRCh38_chrprefix.map"

    // Analysis parameters
    chromosome            = "chr11"
    umi_separator         = ":"

    // Skipping UMI DEDUPLICATION on test data
    //skip_umi_dedup = true

    modules_testdata_base_path   = null
    pipelines_testdata_base_path = null
}

// Test-specific process configurations
process {
    withName: STAR_ALIGN_WASP {
        cpus = 8
        memory = '16.GB'
        time = '4.h'
    }

    withName: BEAGLE5_BEAGLE {
        memory = '6.GB'
        time = '2.h'
    }

    withName: FILTER_WASP_READS {
        memory = '4.GB'
        time = '2.h'
    }

    withName: 'SAMTOOLS_SORT' {
        memory = '8.GB'
        time = '2.h'
    }

}

// Singularity configuration
singularity {
    enabled = true
    autoMounts = true
    pullTimeout = '60m'  // Increase timeout for slow networks
    cacheDir = '/run/media/saadat/A/Sarek/cache'  // Use your existing cache
}

// Set work directory
workDir = './work'
